.link-item {
  text-decoration: none;
  color: none;
}
.disabled {
  pointer-events: none;
}
.restaurant-list-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 24px;
  width: 310px;
  cursor: pointer;
}
@media screen and (min-width: 576px) {
  .restaurant-list-item {
    margin-top: 32px;
  }
}
.restaurant-image {
  height: 100px;
  width: 160px;
  border-radius: 8px;
}
.details-container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100px;
  max-width: 174px;
}
.restaurant-name-home {
  color: #334155;
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-top: -3px;
  margin-bottom: -10px;
}
@media screen and (min-width: 576px) {
  .restaurant-name {
    font-size: 18px;
  }
}
.restaurant-list-item-cuisine-type {
  color: #64748b;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: -10px;
}
@media screen and (min-width: 576px) {
  .restaurant-list-item-cuisine-type {
    font-size: 12px;
  }
}
.restaurant-item-rating-container {
  display: flex;
  align-items: center;
}
.restaurant-item-rating {
  color: #1e293b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.restaurant-item-rating-count {
  color: #64748b;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
