.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
}
.counter-button {
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
}
.quantity {
  margin-left: 10px;
  margin-right: 10px;
}
