.link-item {
  text-decoration: none;
}

.ham-menu {
  cursor: pointer;
  color: #231f20;
  height: 18px;
  width: 25px;
}
@media screen and (min-width: 577px) {
  .ham-menu {
    display: none;
  }
}

.close-button {
  color: #334155;
  width: 20px;
  height: 20px;
}
